# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Docker
*.log
docker-data/
postgres-data/

# Vite / React
dist/
.vite/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

